---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>

<script>
    try{
      var siteHeader = document.querySelector('header.site-header');
      siteHeader.querySelector('.head-title h1').innerHTML = document.querySelector('.post-title').innerHTML;
      window.addEventListener('scroll',function(){
          var titleShown = /title\-display/i.test(siteHeader.className);
          if(window.scrollY>112 && !titleShown){
            siteHeader.className = 'site-header title-display';
          }else if(window.scrollY < 112 && titleShown){
            siteHeader.className = 'site-header';
          }
      });
    }catch(e){}
  </script>
