---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">发布于{{ page.date | date: "%Y-%m-%d" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if page.paid %}
  <ul class="post-footer">
    <li class="first">
      <p><img src="/public/images/qrcode.jpg" class="qrcode"/></p>
      <p>扫码关注 <br /><b>莫大艺术家</b> <br />非技术文章,有事留言</p>
    </li>

    <li>
      <p><img src="/public/images/money199.jpg" class="qrcode"/></p>
      <p>零碎打赏 <br />让我乐一下</p>
    </li>

    <li>
      <p><img src="/public/images/money999.jpg" class="qrcode"/></p>
      <p>觉得有点意思的土豪<br />你也意思一下</p>
    </li>
  </ul>
  {% endif %}
</article>
